{{> head}}
    {{> navbar}}

    <section>
      <div class="container my-5">
        <h1>Hello, {{ capitalizar "felipe castrO" }}</h1>
        <p>{{nombre}}aj jejejjejiji jjijji jajajja jsjo jojojojo</p>
        <button class="btn btn-primary">Acción</button>
      </div>
    </section>

{{> footer}}
